.gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 80px) / 4);
  margin: 10px;
  border: 1px solid #103538;
  border-radius: 4px;
  overflow: hidden;
  background-color: #7aaaa1;
}

.photo-card:not(:last-child) {
  margin-right: 10px;
}

img {
  display: block;
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: row;
}

.info-item {
  font-size: 14px;
  margin: 10px;
  line-height: 1.5;
  // text-align: center;
}
