@import './search-form';
@import './gallery';

body {
  font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
  background-color: #c8d6d0;
  text-align: center;
  font-size: 17px;
  padding: 25px 0;
}
